In [14]:
import numpy as np 
import pandas as pd
from pathlib import Path

In [60]:
datadir = Path("data/raw/")
outputdir = Path("data/processed/")
filename = datadir / "les1.csv"
filename.resolve(), filename.exists()

(PosixPath('/home/admindme/code/DME22/notebooks/les1/data/raw/les1.csv'), True)

In [62]:
df = pd.read_csv(filename)
df.head()

   x1        x2           name
0   4  0.683287  Python Regius
1   5  0.787097  Python Regius
2   7       NaN  Python Regius
3   9  0.802364  Python Regius
4   0       NaN  Python Regius

In [63]:
df.describe()

               x1         x2
count  100.000000  82.000000
mean     4.620000   0.587542
std      2.834777   0.229508
min      0.000000   0.203242
25%      2.000000   0.377285
50%      4.500000   0.632648
75%      7.000000   0.786594
max      9.000000   0.996141

In [64]:
df.isna().sum()

x1       0
x2      18
name     0
dtype: int64

In [65]:
df.dtypes

x1        int64
x2      float64
name     object
dtype: object

In [68]:
import re

regex = re.compile("^[\w]+")
out = re.search(regex, "Python Regius")
out.group()

'Python'

In [69]:
def extract(regex, msg):
    out = re.search(regex, msg)
    return out.group()

In [72]:
df["name"] = df["name"].apply(lambda x: extract(regex=regex, msg=x))

In [74]:
df = df.dropna(subset=["x2"], axis="rows")

In [76]:
df

    x1        x2    name
0    4  0.683287  Python
1    5  0.787097  Python
3    9  0.802364  Python
6    8  0.855227  Python
7    9  0.861283  Python
..  ..       ...     ...
94   9  0.506065  Python
95   7  0.785085  Python
96   0  0.295006  Python
97   1  0.768772  Python
98   5  0.525630  Python

[82 rows x 3 columns]

In [77]:
from datetime import datetime
tag = datetime.now().strftime("%Y%m%d-%H%M") + ".csv"
output = outputdir / tag
df.to_csv(output, index=False)